@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700;900&display=swap');

/* Reset CSS */
html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
button,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: initial;
}

:root {
  --background-color: #f2f2f2;
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --grey-lighter: #eaeaea;
  --white: #ffffff;
  --font: 'Raleway', sans-serif;
  /* font size based on modularscale: https://www.modularscale.com */
  --font-size: 16px;
  --size-smaller: 0.444em;
  --size-small: 0.667em;
  --size-normal: 1em;
  --size-medium: 1.5em;
  --size-big: 2.25em;
  --size-hudge: 3.375em;
}

body {
  background-color: var(--background-color);
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--primary-text);
}

.container {
  padding: var(--size-normal);
}
.is-hide-on-desktop {
  display: inline;
}
.is-hide-on-mobile {
  display: none;
}

.title {
  font-size: var(--size-normal);
  font-weight: bold;
  margin: var(--size-smaller) 0;
}
.subtitle {
  font-size: var(--size-normal);
  font-weight: lighter;
}

.icon {
  font-size: var(--size-normal);
  color: var(--primary-text);
}

.is-1 {
  font-size: var(--size-hudge);
}
.is-2 {
  font-size: var(--size-big);
}
.is-3 {
  font-size: var(--size-medium);
}
.is-4 {
  font-size: var(--size-normal);
}
.is-5 {
  font-size: var(--size-small);
}
.is-6 {
  font-size: var(--size-smaller);
}

.is-primary {
  color: var(--primary-color);
  font-weight: bold;
}

/*
	Navbar
*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar > .brand {
  flex: 1;
}
.navbar > .item,
.navbar > .brand {
  padding: var(--size-normal);
}

.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.items > .item {
  padding: var(--size-normal) 0;
  width: 50%;
  text-align: center;
  border-bottom: 0.296em var(--secondary-color) solid;
}
.item.is-active {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

/*
	Search component
*/
.search {
  margin: var(--size-normal) 0;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.132em;
  border-radius: var(--size-normal);
  background-color: var(--grey-lighter);
}
.search-input > .icon {
  padding: 0 var(--size-normal);
}
.search-input > input[type='text'] {
  background-color: var(--background-color);
  padding: var(--size-normal);
  flex-grow: 1;
  font-weight: bold;
}
.search-input > input[type='text']::placeholder {
}
.search-input > .btn {
  padding: var(--size-normal);
  font-size: var(--size-normal);
  border-radius: var(--size-small);
}
.search-input > .btn.is-primary {
  background-color: var(--primary-color);
}
.search-input > .btn > .icon {
  color: var(--white);
}

/*
	Filters component
*/
.filters {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
}
.filters > .title {
  width: 100%;
}

.filter {
  border: var(--grey-lighter) 2px solid;
  border-radius: var(--size-hudge);
  margin: var(--size-smaller) var(--size-smaller) var(--size-smaller) 0;
}

.filter > .icon {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: var(--size-normal);
  border-radius: var(--size-hudge);
}
.filter > .title {
  margin: 0 var(--size-normal);
}

/* 
	Media screen desktop
*/
@media (min-width: 40em) {
  .is-hide-on-desktop {
    display: none;
  }
  .is-hide-on-mobile {
    display: inline;
  }

  /*
		Navbar
	*/
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar > .brand {
    padding: 0 var(--size-hudge);
  }
  .navbar > .items.right-align {
    justify-content: flex-end;
  }
  .items {
    display: flex;
    width: 50%;
  }
  .items > .item {
    width: 25%;
    border-bottom: unset;
    border-top: 0.296em var(--secondary-color) solid;
    line-height: var(--size-hudge);
  }
  .item.is-active {
    border-color: var(--primary-color);
  }

  /* Search Compoenent */
  .search {
    width: 25%;
  }
  .search-input > .btn {
    border-radius: 0 var(--size-normal) var(--size-normal) 0;
  }
  .search-input > .btn > span {
    color: var(--white);
  }
}
