@import '../../node_modules/@fortawesome/fontawesome-free/css/all.min.css';

/* Reset CSS */
html,
body,
div,
span,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
img,
ol,
ul,
li,
input,
label,
select,
table,
tbody,
tfoot,
thead,
tr,
th,
td,
footer,
header,
menu,
nav,
section,
button,
i,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a {
  text-decoration: none;
  color: initial;
}

:root {
  --background-color: #f2f2f2;
  --primary-color: #0065fc;
  --secondary-color: #deebff;
  --primary-text: #212121;
  --secondary-text: #757575;
  --grey-lighter: #eaeaea;
  --white: #ffffff;
  --font: 'Raleway', sans-serif;
  /* font size based on modularscale: https://www.modularscale.com */
  --font-size: 16px;
  --size-smaller: 0.444em;
  --size-small: 0.667em;
  --size-normal: 1em;
  --size-medium: 1.5em;
  --size-big: 2.25em;
  --size-hudge: 3.375em;
}

body {
  background-color: var(--background-color);
  font-family: var(--font);
  font-size: var(--font-size);
  color: var(--primary-text);
}

.title {
  font-weight: 700;
  font-size: var(--size-normal);
  margin: var(--size-smaller) 0;
}

.subtitle {
  font-size: var(--size-normal);
  font-size: 0.9em;
  font-weight: 400;
}

.icon {
  font-size: var(--size-normal);
  color: var(--primary-text);
}

.is-primary {
  font-weight: bold;
  color: var(--primary-color);
}
/*
	Navbar
*/
.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.navbar > .brand {
  order: 0;
  flex: 1;
}
.navbar > .item:last-child {
  order: 1;
}
.navbar > .items {
  order: 2;
}
.navbar > .item,
.navbar > .brand {
  padding: var(--size-normal);
}
.items {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.item:active,
.item:focus,
.item:hover {
  color: var(--primary-color);
  border-color: var(--primary-color) !important;
  font-weight: 600;
}
.items > .item {
  padding: var(--size-normal) 0;
  width: 50%;
  text-align: center;
  border-bottom: 0.296em var(--secondary-color) solid;
}

section {
  padding: var(--size-normal) var(--size-medium);
}

/*
  Section Seach and filter
 */
.search-and-filter {
  margin-bottom: 1em;
}
.search-and-filter > .title {
  font-size: 1.2em;
}

/*
	Search component
*/
.search {
  margin: var(--size-medium) 0;
}
.search-input {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.1em;
  border-radius: var(--size-normal);
  background-color: var(--grey-lighter);
}
.search-input > .icon {
  padding: 0 var(--size-normal);
}
.search-input > input[type='text'] {
  width: 100%;
  padding: var(--size-normal);
  font-weight: bold;
}
.search-input > .btn {
  padding: var(--size-normal);
  font-size: var(--size-normal);
  border-radius: var(--size-small);
  content: 'search';
}
.search-input > .btn::after {
  color: white;
  content: '\f002';
}
.search-input > .btn.is-primary {
  background-color: var(--primary-color);
}
.search-input > .btn > .icon {
  color: var(--white);
}

/*
	Filters component
*/
.filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.filters > .title {
  width: 100%;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: start;
  border: var(--grey-lighter) 2px solid;
  border-radius: var(--size-hudge);
  background-color: var(--white);
  margin: 0.4em 0.2em;
}
.filter:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border-color: transparent;
  animation: filter-animation-hover 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes filter-animation-hover {
  0% {
    transform: translateZ(0);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    opacity: 0.5;
  }
  100% {
    transform: translateZ(50px);
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    opacity: 1;
  }
}
.filter > .icon {
  color: var(--primary-color);
  padding: 0.8em;
  background-color: var(--secondary-color);
  border-radius: var(--size-hudge);
}
.filter > .title {
  margin: 0.8em 1em 0.8em 0.5em;
  font-weight: 800;
  font-size: 0.8em;
}

/*
	Message component
*/
.message {
  display: flex;
  align-items: baseline;
  margin-top: var(--size-big);
}
.message > .icon {
  font-size: 0.5em;
  height: var(--size-normal);
  color: var(--primary-color);
  padding: 0.4em var(--size-small);
  border: var(--secondary-color) 2px solid;
  border-radius: var(--size-hudge);
}
.message > span {
  margin-left: 0.5em;
  font-size: 0.8em;
}

/*
	Trending component
*/

.trending {
  background-color: var(--grey-lighter);
}
.trending > .trending-header {
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}
.trending > .trending-header > .title,
.lodging > .lodging-header > .title,
.activities > .activities-header > .title {
  font-size: 1.2em;
  flex-grow: 1;
}

.trending > .trending-header > .fas {
  font-size: 1.1em;
}

.trending > .trending-footer {
  padding: var(--size-medium) 0;
}

.lodging-footer {
  margin: var(--size-medium) 0;
}

/*
 Card
 */
.cards {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  height: 7em;
  margin: var(--size-smaller) 0;
  background-color: var(--white);
  border-radius: var(--size-normal);
  padding: 0.3em;
  box-shadow: 0px 0px 10px -2px rgba(0, 0, 0, 0.2);
}
.card > .card-image {
  width: 40%;
  overflow: hidden;
  border-radius: var(--size-normal) 0 0 var(--size-normal);
}

.card > .card-image > a > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card > .card-body {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 0.5em var(--size-normal) 0 var(--size-normal);
}
.card > .card-body > .title {
  font-size: 0.9em;
  line-height: 1em;
  margin-top: 0;
}
.card > .card-body > .card-description {
  font-size: 0.8em;
  flex-grow: 1;
}
.card > .card-body > .card-meta {
  font-size: 0.6em;
  margin: var(--size-smaller) 0;
  color: var(--primary-color);
}

.card > .card-body > .card-meta > .empty {
  color: var(--secondary-color);
}

.card.card-vertical {
  height: 14em;
  padding: 0;
  flex-direction: column;
}

.card-vertical > .card-image {
  width: 100%;
  border-radius: var(--size-normal) var(--size-normal) 0 0;
}

/*
	Activities
 */
.activities {
  background-color: var(--white);
  margin-bottom: 0;
}
.activities > .activities-body > .cards > .card > .card-body,
.activities > .activities-body > .cards > .two-cards > .card > .card-body {
  padding: 1em;
}
.activities > .activities-body > .cards > .card > .card-body > .title,
.activities > .activities-body > .cards > .two-cards > .card > .card-body > .title {
  margin: 0;
}

/* 
	Footer
*/
.footer {
  background-color: var(--grey-lighter);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5em 0;
}
.footer > section {
  padding: 0 var(--size-medium);
  margin-bottom: 1em;
}
.footer > section > ul > li {
  list-style: none;
  font-size: 0.8em;
  margin: var(--size-small) 0;
}

/*
	Screen Tablet
*/
@media only screen and (min-width: 768px) {
  /*
		Search Component
	*/
  .search-input > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .search-input > .btn::after {
    font-family: 'Raleway';
    content: 'Rechercher';
  }

  /*
		Filter
	*/
  .filters > .title {
    margin-right: 1.5em;
    width: min-content;
  }

  /*
		Lodging and Trending
	*/
  .lodging-and-trending {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
  }

  /*
		Lodging
	*/
  .lodging {
    width: 50%;
    border-radius: 1em;
    background-color: var(--grey-lighter);
  }
  .lodging > .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .lodging > .cards > .card {
    width: 45%;
  }
  .lodging > .cards > .card > .card-body {
    width: 100%;
    padding: 0.5em var(--size-small);
  }
  /*
	Trending
	*/
  .trending {
    width: 30%;
    border-radius: 1em;
    background-color: var(--grey-lighter);
  }

  .trending > .cards > .card {
    height: 9.5em;
  }
  .card {
    margin: var(--size-small) 0;
  }
  .card.card-vertical {
    height: 10em;
  }
  /*
		Activities
	*/
  .activities {
    background-color: unset;
  }
  .activities > .activities-body {
    display: flex;
    justify-content: space-between;
  }
  .activities > .activities-body > .cards {
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
    height: 50vh;
  }
  .activities > .activities-body > .cards > .card,
  .activities > .activities-body > .cards > .two-cards {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .activities > .activities-body > .cards > .card.card-trending {
    height: auto;
  }
  .activities > .activities-body > .cards > .card.card-trending > .card-image,
  .activities > .activities-body > .cards > .two-cards > .card > .card-image {
    height: 90%;
  }
  .activities > .activities-body > .cards > .card.card-trending > .card-body,
  .activities > .activities-body > .cards > .two-cards > .card > .card-body {
    width: initial;
    justify-content: center;
  }
  .activities > .activities-body > .cards:first-child > .two-cards > .card:first-child,
  .activities > .activities-body > .cards:last-child > .two-cards > .card:last-child {
    height: 55%;
  }
  .activities > .activities-body > .cards:first-child > .two-cards > .card:last-child,
  .activities > .activities-body > .cards:last-child > .two-cards > .card:first-child {
    height: 35%;
  }

  /*
		Footer
	*/
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: var(--size-normal);
  }
  .footer > section {
    width: 30%;
  }
}

/*
	Desktop
*/
@media only screen and (min-width: 1024px) {
  /*
	  Navbar
	*/
  .navbar {
    flex-wrap: nowrap;
  }
  .navbar > .brand {
    flex-grow: 1;
  }
  .navbar > .items.right-align {
    order: 0;
    width: 40%;
  }
  .navbar > .items > .item {
    border-top: 0.296em var(--secondary-color) solid;
    padding: 2em 0;
    border-bottom: 0;
  }
  .navbar > .items > .item.is-active {
    border-color: var(--primary-color);
  }

  /*
		Search and Filter
	*/

  .search-input {
    justify-content: start;
    width: max-content;
  }
  .trending {
    width: 25%;
  }
  .trending > .cards > .card {
    height: 7.5em;
  }
  .lodging {
    width: 60%;
  }
  .lodging > .cards > .card {
    width: 30%;
  }
  .card > .card-body > .title {
    font-size: 0.8em;
  }
  .card > .card-body > .card-description {
    font-size: 0.7em;
  }
}

/*
	Desktop 1440px
*/
@media only screen and (min-width: 2560px) {
  section,
  .lodging-and-trending,
  footer.footer {
    padding-right: var(--size-hudge);
    padding-left: var(--size-hudge);
  }
  .navbar {
    padding: 0 var(--size-big);
  }
  .lodging {
    width: 65%;
  }
  .lodging-and-trending {
    justify-content: space-between;
  }
  .trending > .cards > .card {
    height: 10.5em;
  }

  .lodging > .cards > .card {
    height: 15em;
  }
  .card > .card-body > .title {
    font-size: 1em;
  }
  .card > .card-body > .card-description {
    font-size: 0.8em;
  }
  .card > .card-body > .card-meta {
    font-size: 0.7em;
  }
  .activities > .activities-body > .cards {
    height: 70vh;
  }
}
